<form>
	<div class="row">
		<div class="col">
			<label for="lang">
				Language:<br/>
				<select name="lang" id="lang" class="form-control">
					<option value="">All Languages</option>
					<% settings.languages.each do |lang| %>
						<option value="<%= lang %>"><%= lang %></option>
					<% end %>
				</select>
			</label>
		</div>
		<div class="col">
			<label for="time">
				Time:<br/>
				<select name="time" id="time" class="form-control">
					<option value="daily">Daily</option>
					<option value="weekly">Weekly</option>
					<option value="monthly">Monthly</option>
				</select>
			</label>
		</div>
	</div>
</form>

<table data-toggle="table" data-classes="table table-striped" data-pagination="true" data-search="true" data-search-align="left" data-show-columns="true" data-show-toggle="true" data-key-events="true">
	<thead>
		<tr>
			<th scope="col" data-sortable="true" data-align="center" title="Relevancy">
				<i class="fa fa-hashtag" aria-hidden="true"></i>
				<span class="sr-only">Relevancy</span>
			</th>
			<th scope="col" data-sortable="true">Name</th>
			<th scope="col" data-sortable="true">Language</th>
			<th scope="col" data-sortable="true" data-align="right" title="Stars">
				<i class="far fa-star" aria-hidden="true"></i>
				<span class="sr-only">Stars</span>
			</th>
			<th scope="col" data-sortable="true" data-align="right" title="Forks">
				<i class="fa fa-code-branch" aria-hidden="true"></i>
				<span class="sr-only">Forks</span>
			</th>
			<th scope="col" data-sortable="true">Description</th>
		</tr>
	</thead>
	<tbody>
		<%# If @all_trending is not empty, loop over the repos. %>
		<% if !@all_trending.nil? %>
			<% @all_trending.each_with_index do |repo, index| %>
				<tr data-unique-id="<%= index + 1 %>">
					<td scope="row">
						<%= index + 1 %>
					</td>
					<td>
						<a href="https://github.com/<%= repo.name %>" target="_blank"><%= repo.name %></a>
					</td>
					<td>
						<%= repo.lang %>
					</td>
					<td>
						<%= repo.all_star_count %>
					</td>
					<td>
						<%= repo.fork_count %>
					</td>
					<td>
						<%= repo.description %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
