<label for="lang">
	Language:<br/>
	<select name="lang" id="lang">
		<option value="">All Languages</option>
		<% @languages.each do |lang| %>
			<option value="<%= lang %>"><%= lang %></option>
		<% end %>
	</select>
</label>
<br/>
<label for="time">
	Time:<br/>
	<select name="time" id="time">
		<option value="daily">Daily</option>
		<option value="weekly">Weekly</option>
	</select>
</label>

<table class="table table-striped" data-toggle="table"
  data-pagination="true"
  data-search="true">
	<thead>
		<tr>
			<th scope="col" data-sortable="true">#</th>
			<th scope="col" data-sortable="true">Name</th>
			<th scope="col" data-sortable="true">Language</th>
			<th scope="col" data-sortable="true">&starf;</th>
			<th scope="col" data-sortable="true">Description</th>
		</tr>
	</thead>
	<tbody>
		<% @all_trending.each_with_index do |repo, index| %>
			<tr>
				<td scope="row">
					<%= index + 1 %>
				</td>
				<td>
					<a href="https://github.com/<%= repo.name %>" target="_blank"><%= repo.name %></a>
				</td>
				<td>
					<%= repo.lang %>
				</td>
				<td>
					<%= repo.all_star_count %>
				</td>
				<td>
					<%= repo.description %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
