<form>
	<div class="row">
		<div class="col">
			<label for="lang">
				Language:<br/>
				<select name="lang" id="lang" class="form-control">
					<option value="">All Languages</option>
						<% @languages.each do |lang| %>
							<option value="<%= lang %>"><%= lang %></option>
						<% end %>
				</select>
			</label>
		</div>
		<div class="col">
			<label for="time">
				Time:<br/>
				<select name="time" id="time" class="form-control">
					<option value="daily">Daily</option>
					<option value="weekly">Weekly</option>
				</select>
			</label>
		</div>
	</div>
</form>

<table data-toggle="table" data-classes="table table-striped" data-pagination="true" data-search="true" data-search-align="left" data-show-columns="true" data-show-toggle="true" data-key-events="true">
	<thead>
		<tr>
			<th scope="col" data-sortable="true">#</th>
			<th scope="col" data-sortable="true">Name</th>
			<th scope="col" data-sortable="true">Language</th>
			<th scope="col" data-sortable="true">&starf;</th>
			<th scope="col" data-sortable="true">Description</th>
		</tr>
	</thead>
	<tbody>
		<% @all_trending.each_with_index do |repo, index| %>
			<tr data-unique-id="<%= index + 1 %>">
				<td scope="row">
					<%= index + 1 %>
				</td>
				<td>
					<a href="https://github.com/<%= repo.name %>" target="_blank"><%= repo.name %></a>
				</td>
				<td>
					<%= repo.lang %>
				</td>
				<td>
					<%= repo.all_star_count %>
				</td>
				<td>
					<%= repo.description %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
