<label for="lang">
	Language:<br/>
	<select name="lang" id="lang">
		<option value="">All Languages</option>
		<% @languages.each do |lang| %>
			<option value="<%= lang %>"><%= lang %></option>
		<% end %>
	</select>
</label>
<br/>
<label for="time">
	Time:<br/>
	<select name="time" id="time">
		<option value="daily">Daily</option>
		<option value="weekly">Weekly</option>
	</select>
</label>

<ul id="repos">
	<% @all_trending.each do |r| %>
		<li>
			<a href="https://github.com/<%= r.name %>" target="_blank"><%= r.name %></a>
			<small>
				<%= r.lang %>
				&mdash;
				<%= r.all_star_count %> &starf;
			</small>
			<br/>
			<%= r.description %>
		</li>
	<% end %>
</ul>
